<footer class="bg-dark text-white text-center py-2 mt-auto">
    <h6>SIT Seguridad,informatica y telecomunicaciones.Ltda </h6>
    <p font size="2">© Derechos de autor reservados Area Ingenieria SIT</p>
        <p>Version 1.0</p>
</footer>